.favorites-listing {
  .item > .content {
    display: flex;
    align-items: center;
  }
}

.comment-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .ui.segment {
    width: 100%;
    border: none;
    margin-right: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: none;
  }
}

.comment-form {
  width: 50%;
}

.fav-listing-board {
  margin: 1.5em 0;
}
