// taken from storybook, to be properly integrated

.in_path {
  font-weight: bold !important;
}

.list .content .list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.context-navigation {
  overflow: hidden;
  padding: 0;
  margin: 1rem 0;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  list-style-type: none;
}

.drag .context-navigation {
  max-width: 380px;
}

.context-navigation .item {
  padding: 0 !important;
}

.context-navigation .item a {
  position: relative;
  display: block;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #eee;
  color: @darkBlueTextColor;
  font-size: 1rem;
  font-weight: 400;
}

.context-navigation > .list {
  margin: 0;
}

.context-navigation .level-1 a {
  padding-left: 1rem;
}

.context-navigation .level-2 a {
  padding-left: 1.5rem;
}

.context-navigation .level-3 a {
  padding-left: 2rem;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .context-navigation .item a {
    font-size: 0.9rem;
  }
}

.context-navigation .item a:hover {
  background: @midGrey;
  color: @darkBlueTextColor;
}

.context-navigation-header {
  padding: 1rem;
  border-bottom: 3px solid @midGrey;
  box-shadow: 0 4px 19px rgba(0, 0, 1, 0.07);
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.context-navigation-header a {
  color: #444;
  font-size: 1.3rem;
  font-weight: 100;
}

.context-navigation .active-indicator {
  position: absolute;
  top: 56%;
  right: -5px;
  color: @darkBlueTextColor;
  font-weight: bold;
  transform: translateY(-50%);
}

.context-navigation .item a:hover .active-indicator {
  color: white !important;
}
