.in_path {
  font-weight: 500 !important;
}

.list .content .list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.drag .context-navigation {
  max-width: 380px;
}

.context-navigation {
  overflow: hidden;
  padding: 0;
  margin: 1rem 0;
  background: white;
  border-radius: 4px;
  list-style-type: none;

  .item {
    padding: 0 !important;

    a:hover {
      background: #ffe9e3;
      color: #ff421b;
    }
  }

  .active.item > .content > a {
    background-color: #f2f9fb;
    color: #0099bb;
    font-weight: 500 !important;
  }

  .item a {
    position: relative;
    display: block;
    padding: 0.8rem 1rem;
    color: #333;
    font-size: 16px !important;
    font-weight: 400 !important;

    > img {
      display: none !important;
    }
  }

  > .list {
    border-bottom: 1px solid @wiseSecondaryColor;
    margin: 0;
  }

  .level-1 a {
    padding-left: 1rem;
  }

  .level-2 a {
    padding-left: 1.5rem;
  }

  .level-3 a {
    padding-left: 2rem;
  }

  .active-indicator {
    display: none;
  }
}

.context-navigation-header > a {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.context-navigation-header {
  padding: 1rem 0;
  border-bottom: 3px solid @wiseSecondaryColor;
  box-shadow: 0 4px 19px rgba(0, 0, 1, 0.07);
  color: @wiseSecondaryColor;
  font-size: 20px;
  font-weight: 500;

  a {
    color: @wiseSecondaryColor;
    font-size: 1.3rem;
    font-weight: 100;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .context-navigation .item a {
    font-size: 0.9rem;
  }
}
