// taken from storybook, to be properly integrated
.list .content .list a {
  padding-left: 2rem !important;
}

.in_path {
  font-weight: bold !important;
}

.list .content .list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.context-navigation {
  overflow: hidden;
  max-width: 210px;
  padding: 0;
  margin-right: 1rem;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  list-style-type: none;
}

@media (max-width: 1200px) {
  .context-navigation {
    max-width: 200px;
    margin: 2rem auto;
    /* margin-right: 0; */
    margin-top: 2rem;
    box-shadow: none;
  }
}

.context-navigation .item a {
  position: relative;
  display: block;
  padding: 0.6rem 1rem;
  color: #444;
  font-size: 1rem;
  font-weight: 500;
  font-weight: 400;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .context-navigation .item a {
    font-size: 0.9rem;
  }
}

.context-navigation .item a:hover {
  background: #cc4400 !important;
  color: white !important;
}

.context-navigation-header {
  padding: 1rem;
  border-bottom: 3px solid #cc4400;
  box-shadow: 0px 4px 19px rgba(0, 0, 1, 0.07);
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.context-navigation-header a {
  color: #444;
  font-size: 1.3rem;
  font-weight: 100;
}

.context-navigation .active-indicator {
  position: absolute;
  top: 50%;
  right: 0;
  color: #cc4400;
  font-weight: bold;
  transform: translateY(-50%);
}

.context-navigation .item a:hover .active-indicator {
  color: white !important;
}
