/*-------------------
        Footer
--------------------*/

.footerWrapper {
  position: relative;
  margin-top: 2em;

  .footer-top-wave {
    width: 100%;
    height: 15px;

    .wave-shape {
      height: 100%;
      background-image: url('@{themeImagePath}/blue_wave.svg');
      background-repeat: repeat;
    }
  }

  .footer-nav {
    padding-left: 0;
    margin-top: 1.5rem;

    li {
      display: inline-block;
      padding: 0.8em 2em 0.8em 0;

      @media only screen and (max-width: @largestMobileScreen) {
        padding-right: 1em;
      }
    }

    .item {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .footer-login {
    .login-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: @textColor;

      a,
      svg.icon {
        color: @textColor;
      }

      a {
        margin: 0 0.5rem;
      }

      .divider {
        margin-right: 1em;
      }
    }
  }
}

.site-info {
  position: relative;
  font-size: 14px;

  .site-info-logos {
    margin: 25px 0;
  }

  .footerLogos {
    margin-top: 5px;
  }

  .site-info-logos,
  .footerLogos {
    a {
      display: inline-block;
      margin: 0.5rem 1rem;
    }
  }

  .site-info-logos a:first-child,
  .footerLogos a:first-child {
    padding-left: 0;
  }
}

body.homepage-view {
  .footerWrapper {
    margin-top: 0;

    .footer-top-wave {
      position: absolute;
      top: -46px;
      right: 0;
      left: 0;
      width: 100%;
      height: 15px;
    }

    .wave-shape {
      height: 100%;
      background-image: url('@{themeImagePath}/white_wave.svg');
      background-repeat: repeat;
    }
  }

  .footer-top-wrapper > .grid .row {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  .footer-nav,
  .site-info {
    text-align: center;
  }

  .footer-logos {
    margin: 0 auto;
  }
}
