/*-------------------
        Footer
--------------------*/
.footer-top-wave {
  position: relative;
  height: 70px;
  margin: 0 !important;
  background-image: linear-gradient(transparent, #ecf1f7);
}

.footer-top-wave:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  background-image: radial-gradient(
    circle at 20px -2px,
    transparent 23px,
    white 24px
  );
  background-repeat: repeat;
  background-size: 40px 30px;
  content: '';
}

.footer-nav {
  padding-left: 0;
}

.footer-nav li {
  display: inline-block;
  padding: 0.8em 1em 0.8em 0;
}

.footer-nav .item {
  font-weight: 500;
}

.site-info-logos,
.footerLogos {
  a {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
}

.site-info-logos a:first-child,
.footerLogos a:first-child {
  padding-left: 0;
}

.site-info-logos {
  margin-top: 1.2rem;
}

.footerLogo {
  width: auto;
  height: 38px;
}

.footer-login a,
.footer-login svg.icon,
.footer-login span {
  color: @textColor;
}

.footer-login svg.icon {
  position: relative;
  top: 3px;
}

.site-info {
  position: relative;
  font-size: 13px;
}

.footer-backdrop {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0.5em;
}

.footer-backdrop img {
  width: 139px;
  height: 105px;
}

@media screen and (max-width: 992px) {
  .footer-nav,
  .site-info {
    text-align: center;
  }

  .footer-logos {
    margin: 0 auto;
  }
}
