body.homepage-view {
  .block-editor-title {
    display: none;
  }

  .ui.content-area {
    padding-top: 0;
    margin-top: 0;
  }

  .portal-top {
    position: absolute;
    z-index: 2;
    top: 20px;
    width: 100%;
  }

  .documentFirstHeading {
    display: none;
  }

  @media only screen and (min-width: 1280px) {
    .imagecards-block.full {
      margin-bottom: 200px;
    }
  }

  // slider
  .slider-wrapper,
  .slider-wrapper .slide-img {
    height: 648px;
  }

  .slider-wrapper .slide-description,
  .slider-wrapper .slide-description > p {
    font-family: @headerFont;
    font-size: 22px !important;
    text-shadow: -4px 4px 5px rgba(0, 0, 0, 0.49);
  }

  .slider-wrapper .slide-title {
    font-family: @headerFont;
    text-shadow: -4px 4px 5px rgba(0, 0, 0, 0.49);
  }

  .slider-wrapper .slider-slide .slide-img {
    background-position: center left;
  }

  .slider-wrapper .slider-slide .slide-copyright {
    text-align: right;
  }
}

@media only screen and (min-width: @largestMobileScreen) {
  body.homepage-view {
    &.has-toolbar-collapsed:not(.has-toolbar) {
      .portal-top {
        width: calc(100% - @collapsedToolbarWidth);
      }
    }

    &.has-toolbar {
      .portal-top {
        width: calc(100% - @toolbarWidth);
      }
    }
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  body.homepage-view {
    &.has-toolbar-collapsed:not(.has-toolbar) {
      .portal-top {
        top: 40px !important;
      }
    }

    &.has-toolbar.has-banner {
      .portal-top {
        top: 210px !important;
      }
    }

    &.has-toolbar-collapsed:not(.has-toolbar).has-banner {
      .portal-top {
        top: 110px !important;
      }
    }

    &.has-toolbar {
      .portal-top {
        top: 120px !important;
      }
    }

    .slider-wrapper .slider-slide .slide-body .slide-description,
    .slider-wrapper .slider-slide .slide-body .slide-description > p {
      font-size: 18px !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  body.homepage-view {
    .slider-wrapper .slider-slide .slider-caption {
      bottom: 15% !important;
    }

    .slider-wrapper .slider-slide .slide-copyright {
      bottom: 10px;
    }

    .slider-wrapper,
    .slider-wrapper .slide-img {
      height: 450px;
    }
  }
}
