#page-search {
  margin: 1.5em 0;

  .container {
    padding: 0 !important;
  }

  .tileHeadline {
    font-size: 23px;
  }

  .tileFooter a {
    color: #004050;
    font-size: 16px;
  }
}

.searchBlock {
  .facet {
    padding: 1.7em 0;
    border-bottom: 1px solid #c3e7ef;
    margin: 0;
  }

  .facet .ui.header {
    color: #0099bb;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .ui.checkbox label,
  .ui.checkbox + label {
    font-size: 14px;
  }

  .listing-item {
    margin-bottom: 1.5em !important;
  }

  .listing-item img {
    height: 100px;
  }

  .search-block-prompt {
    display: block;
    padding-bottom: 0.5rem;
  }

  .search-input {
    .ui.input > input {
      padding: 10px !important;
    }
  }

  .listing-title {
    cursor: pointer;
  }

  .listing-title h3 {
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .searchBlock .ui.stackable.grid {
    margin-right: -1rem !important;
    margin-left: -1rem !important;
  }
}
