.presentation-cards-block {
  padding: 2rem 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: inherit;

}

.presentation-card {
  box-shadow: 1px 1px 9px 0 #d3d3d3 !important;
  border-top: 15px solid transparent !important;
}

.presentation-card .extra {
  font-weight: 400;
}

.presentation-card:hover,
.presentation-card:focus {
  box-shadow: 0 0 3px 1px rgb(55 146 218) !important;
}

.presentation-card-link {
  display: flex;
  flex-direction: column;
}

.presentation-card-image {
  height: 100%;
  min-height: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.presentation-card-header {
  padding-top: 0.7em;
  margin-top: 0.7em;
  font-family: 'Poppins', serif;
  font-size: 18px;
  font-weight: bold;
}
