@type: 'extra';
@element: 'custom';
@blue-bg: lighten(#0099bb, 15%); //#8dcdf4;
@green-bg: lighten(#88c24f, 15%); //#a3deaa;
@yellow-bg: lighten(#f4cf01, 15%); //#f6f6bc;
@orange-bg: lighten(#ff7f0e, 15%); //#fdae61;
@red-bg: lighten(#ff0a00, 15%); //#ff5a5d;

@import (multiple, reference, optional) '../../theme.config';

.country-data-wrapper {
  display: flex;
  align-items: center;
}

.country-profile-wrapper {
  display: flex;
  align-items: center;
}

.uww-country-wrapper {
  display: flex;
  min-height: 60px;
  flex-direction: column;
  justify-content: center;

  .blue-bg {
    background-color: @blue-bg;
  }

  .green-bg {
    background-color: @green-bg;
  }

  .yellow-bg {
    background-color: @yellow-bg;
  }

  .orange-bg {
    background-color: @orange-bg;
  }

  .red-bg {
    background-color: @red-bg;
  }
}

.uww-left {
  display: flex;
  width: 195px;
  height: 130px;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.uww-country-block {
  display: flex;
  flex-direction: row;
  align-items: center;

  .uww-data {
    font-family: @headerFont;
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 3.4rem;
  }

  .uww-text {
    padding-top: 7px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
  }
}

.uww-country-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;

  .legend-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .legend-box {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }

    .legend-text {
      font-family: @headerFont;
      font-size: 12px;
      line-height: 26px;
    }
  }

  .blue-bg {
    background-color: @blue-bg;
  }

  .green-bg {
    background-color: @green-bg;
  }

  .yellow-bg {
    background-color: @yellow-bg;
  }

  .orange-bg {
    background-color: @orange-bg;
  }

  .red-bg {
    background-color: @red-bg;
  }
}

#view {
  .country-header-block {
    position: relative;
    height: 200px;

    &:before {
      position: absolute;
      z-index: -1;
      top: -60px;
      right: 0;
      left: 0;
      width: 100%;
      height: 191px;
      border-bottom: 1px solid #d8d8d8;
      background-color: #f5f5f5;
      content: '';
    }

    .country-header-wrapper {
      &.no-flag {
        top: 45px;
      }
    }
  }
}

.country-header-block {
  position: relative;

  .country-header-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .country-profile-flag {
    line-height: 12px !important;

    img {
      height: 130px;
      padding-right: 30px;

      @media only screen and (max-width: @largeMobileBreakpoint) {
        padding-right: 10px !important;
      }
    }
  }
}

.ui.selection.visible.dropdown,
.ui.selection.dropdown.countries-dd {
  padding: 0 !important;
  border: none !important;

  > .text,
  > .text:not(.default) {
    min-height: 1rem;
    padding: 0em;
    margin-right: 10px;
    color: @wiseSecondaryColor !important;
    font-family: @headerFont;
    font-size: @h1;
    font-weight: @headerFontWeight !important;
    line-height: @headerLineHeight;
  }

  .text {
    font-family: @headerFont;
    font-weight: 400;
  }

  > .menu {
    border: 1px solid #f1f1f1 !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08) !important;
  }
}

.ui.selection.dropdown.countries-dd {
  display: inline-block !important;
  border: none;
  background-color: transparent;

  @media only screen and (max-width: @largeMobileBreakpoint) {
    display: flex !important;
    min-width: auto !important;
    align-items: self-end !important;
  }

  i.icon {
    color: @wiseSecondaryColor !important;
    font-size: 30px;
  }
}

@media only screen and (min-width: 795px) and (max-width: 945px) {
  .uww-country-block {
    position: relative;
    flex-direction: column;
  }

  .uww-country-legend {
    position: absolute;
    right: 0;
    bottom: -60px;
    min-width: 520px;
    flex-direction: row;
  }
}

@media only screen and (max-width: 794px) {
  .country-header-block .country-header-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .uww-country-block {
    position: relative;
    flex-direction: row;
  }

  .country-data-wrapper {
    padding-top: 1em;
  }

  #view .country-header-block {
    position: relative;
    height: 300px;
  }
}

@media only screen and (max-width: 790px) and (min-width: 650px) {
  .country-data-wrapper {
    align-self: flex-end;
  }
}

@media only screen and (max-width: @tabletBreakpoint) {
  .contenttype-country_profile {
    .content-area {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }

  .country-header-block {
    &:before {
      top: -1px !important;
      height: 131px !important;
      border-top: 1px solid #d8d8d8;
    }
  }
}

@media only screen and (max-width: @largeMobileBreakpoint) {
  .country-header-block {
    .country-profile-flag img {
      height: 90px;
    }

    &:before {
      height: 92px !important;
    }

    .ui.selection.dropdown.countries-dd > .text,
    .ui.selection.dropdown.countries-dd i.icon {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 360px) {
  .uww-country-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .uww-country-legend {
    flex-direction: row;
    padding: 0;
    margin-top: 1rem;

    .legend-wrapper .legend-box {
      width: 15px;
      height: 15px;
    }

    .legend-wrapper .legend-text {
      font-size: 11px;
      line-height: 13px;
    }
  }
}
