#toolbar {
  .fav-toolbar-menu {
    position: relative;
    display: block;
  }
}

.fav-toolbar-btn {
  svg {
    color: #0099bb;
  }
}

.fav-menu {
  position: absolute;
  bottom: 0;
  left: 57px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 #c7d5d8;

  .fav-menu-content {
    padding: 20px;
  }

  .fav-menu-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    list-style: none;
  }

  .fav-menu-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 0;
    border-bottom: 1px solid #b8c6c8;

    button {
      margin-bottom: 0 !important;

      svg {
        color: #007eb1;
      }
    }
  }

  .fav-item-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    -webkit-line-clamp: 2;
    text-transform: uppercase;
  }
}

.fav-group-title {
  padding-bottom: 0.9em;
  border-bottom: 1px solid #b8c6c8;
  margin-bottom: 0.3em !important;

  label {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
  }
}

.fav-board-save {
  display: block !important;
  padding: 10px !important;
  margin-bottom: 0 !important;
  background-color: #064c7f !important;
  color: #fff !important;
}

.fav-toolbar-menu {
  display: none;
}
