@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

#divider {
  width: 0px;
  height: 24px;
  border-left: 1px solid @purpleBackground;
  margin-left: 10px;
}

.basket {
  padding: 0 1em;
}

.fav-basket-menu {
  height: auto;
}

.fav-toolbar-menu {
  display: none;
}

#toolbar .toolbar.expanded .fav-toolbar-menu {
  display: block;
}

.ui.basic.button.add-fav-btn {
  box-shadow: none !important;
}

.fav-basket-btn {
  display: inline-block;
  margin-bottom: 20px;
}

.fav-basket-menu {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}

.fav-basket-menu header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border-bottom: 4px solid #b8c6c8;
}

.fav-basket-menu header h2 {
  overflow: hidden;
  max-width: 100%;
  flex: 1 0 auto;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fav-menu-listing button:hover {
  background-color: transparent !important;
}

.basket-btn {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;

  .basket-count {
    position: absolute;
    top: 10px;
    right: -6px;
    display: block;
    width: 18px;
    height: 18px;
    margin-bottom: 0px;
    animation: count-pulse 2s;
    animation-iteration-count: 10;
    background: @wisePrimaryColor;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(52 172 224);
    color: @white;
    font-size: 10px;

    span {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

@keyframes count-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

.fav-menu {
  position: absolute;
  z-index: 3;
  top: 14px;
  right: 15px;
  display: block;
  width: 320px;
  height: auto;
  background-color: @white;
  background-color: @white;
  box-shadow: 0 1px 2px 0 #c7d5d8;

  .fav-menu-content {
    z-index: 9;
    padding: 0 20px 20px 20px;
    background-color: @white;
  }

  .fav-menu-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .fav-menu-list-item:first-child {
    padding-top: 0 !important;
  }

  .fav-menu-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 0;

    &:not(:last-child) {
      border-bottom: 1px solid #e7e7e7;
    }

    button {
      padding: 0;
      margin-bottom: 0 !important;
      background-color: transparent;

      svg {
        color: #007eb1;
      }
    }
  }

  .fav-item-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 14px;
    -webkit-line-clamp: 2;
  }
}

.fav-group-title {
  margin-bottom: 0.3em !important;

  label {
    font-family: @headerFont;
    font-size: 14px;
    font-weight: 500;
  }
}

.basket-menu-title {
  padding: 0.8em 0;
  font-family: @headerFont;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.fav-boards-list {
  border-bottom: 1px solid #b8c6c8;
}

ul.boards-list {
  padding-left: 0;
  margin: 0;
}

.board-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 5px;
  color: #8cd5e5;

  svg {
    margin-right: 5px !important;
  }

  &.boarditems {
    color: @wisePrimaryColor;
    cursor: pointer;

    &:hover {
      background-color: #f9f9f9;
      color: @wiseSecondaryColor !important;

      > .add-btn-wrapper {
        visibility: visible;
      }
    }
  }

  .boards-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .add-btn-wrapper {
    visibility: hidden;
  }

  .add-btn {
    padding: 0 5px;
    border: 1px solid #0b960b;
    border-radius: @borderRadius;
    color: #0b960b;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.board-item.active,
.board-created-info {
  color: #269b65 !important;
}

.board-created-info {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 500;
}

.check-icon {
  margin-left: 5px;
}

.fav-board-save {
  display: block !important;
  padding: 10px !important;
  margin: 1em 0 !important;
  margin-bottom: 0 !important;
  background-color: @blue !important;
  color: @white !important;
}

.fav-menu-info,
.no-boards-info {
  display: block;

  .star-icon {
    padding: 2px 4px;
    margin: 0 8px;
    background-color: #eee;
    border-radius: @borderRadius;
  }

  svg {
    position: relative;
    top: 4px;
  }
}
