.countries-listing-view {
  padding: 0.5rem;
  margin: 1.5em 0;
  background-color: #f2f9fb;

  .section-wrapper {
    max-width: 900px !important;
    padding: 2em 0;
  }

  .section-title {
    margin-bottom: 1.2em;
  }

  .countries-listing-section a {
    font-weight: 500;
  }
}
