@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';
@import (multiple, reference, optional)
  '../PresentationCards/css/presentationcards.less';

.metadata-cards-block {
  .presentation-card {
    cursor: pointer;
  }
}
