.blue-chart-text {
  color: #1f77b4;
}

.orange-chart-text {
  color: #ff7f0e;
}

.green-chart-text {
  color: #2ca02c;
}

.red-chart-text {
  color: #d62728;
}

.black-text {
  color: #333;
}

#view .text-circle {
  display: inline-block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  font-family: 'Poppins';
  font-size: 35px !important;
  font-weight: 600;
  line-height: 125px !important;
  text-align: center;
}

.grey-circle {
  background-color: #808080;
  color: #fff;
}

.blue-circle {
  background-color: #026e92;
  color: #fff;
}
