.blue-chart-text {
  color: #0099bb;
}

.green-chart-text {
  color: #88c24f;
}

.yellow-chart-text {
  color: #f4cf01;
}

.orange-chart-text {
  color: #ed763e;
}

.black-text {
  color: #333;
}

#view .text-circle {
  display: inline-block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  font-family: 'Poppins', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 35px !important;
  font-weight: 600;
  line-height: 125px !important;
  text-align: center;
}

.grey-circle {
  background-color: #808080;
  color: #fff;
}

.blue-circle {
  background-color: #0099bb;
  color: #fff;
}

.green-circle {
  background-color: #88c24f;
  color: #fff;
}

.orange-circle {
  background-color: #ed763e;
  color: #fff;
}

.yellow-circle {
  background-color: #f4cf01;
  color: #fff;
}
